@model HoustonPD.Models.User
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<link href="../../Content/fonts/material-icon/css/material-design-iconic-font.min.css" rel="stylesheet" />
<link href="../../Content/css/style.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/toastr.min.css" rel="stylesheet" />

<body>
    <form id="form1" runat="server">
        <div>
            <section class="sign-in">
                <div class="container">
                    <div class="signin-content">
                        <div class="signin-image">
                            <figure><img src="../../Content/images/signin-image.jpg" alt="sing up image" /></figure>
                            <a href="~/User/Register" class="signup-image-link">Create an account</a>
                        </div>
                        <div class="signin-form">
                            <h2 class="form-title">Sign In</h2>
                            <form method="POST" class="register-form" id="login-form" action="User/Login">
                                <div class="form-group">
                                    <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                    <input type="text" name="UserName" id="your_name" placeholder="Your Username or email" />
                                </div>
                                <div class="form-group">
                                    <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                    <input type="password" name="Password" id="your_pass" placeholder="Password" />
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                    <label for="remember-me" class="label-agree-term"><span></span>Remember me &emsp;&nbsp;&emsp;<a href="#">Forgot your Password??</a></label>
                                </div>
                                <div class="form-group form-button">
                                    <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />

                                </div>
                            </form>
                            <div class="social-login">
                                <span class="social-label">Or login with</span>
                                <ul class="socials">
                                    <li><a href="https://www.facebook.com/"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                    <li><a href="https://twitter.com/LOGIN"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                    <li><a href="https://accounts.google.com/signin/v2/identifier?flowName=GlifWebSignIn&flowEntry=ServiceLogin"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </form>
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="../../Content/vendor/jquery/jquery-ui.min.js"></script>
    <script src="../../Content/js/main.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
    window.onload = function () {

        toastr.error("@ViewBag.Message");
        };
        </script>
    }
</body>




